*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# local secrets
.local/
*.local.env
firmware/**/wifi_secrets.h


.local/
mildura-boomgate-hardened/.flask_secret
mildura-boomgate-hardened/*.db*
__pycache__/
